{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>
	<div style="font-size: 40px; color:brown">
		<center>
			<h1>Welcome To E-Restaurant</h1>
		</center>
	</div>
	<div class="signupBox">
		<!-- <img src="{% static 'images/user1.png' %}" class="user"> -->
		<img src="{% static 'images/user1.png' %}" class="user">
		<h2>User Login</h2>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="email" name="email" id="email" class="form-control" placeholder="Email address" required>
			<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
			<input type="submit" value="Login">
		</form>
		<a href="{% url 'register' %}">Create new Account</a>
		<br>
		<br>
		<a href="{% url 'login_admin' %}">chef Login</a>
	</div>
    <!-- PRINTING BACKEND MESSAGES -->
        {% if msg %}
        <script>alert('{{msg}}')</script>
        {% endif %}
</body>
</html>