{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap" style="background-image: url({% static 'images/menu-5.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
        <div class="text">
          <h1 class="mb-4 bread">List of USERS</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <!-- --------------------------------------------------------------------- -->
    <div class="row d-flex">
      <div class="col-md-12">
        <div class="card-body">
          <!-- --------------------------------------------------------------------- -->

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Table_no</th>
                <th scope="col">Customer_email</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              {% for i in all %}
              <tr>
                <td scope="row">{{i.table_no}}</td>
                        <td>{{i.usereamil}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.time1}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- --------------------------------------------------------------------- -->
        </div>
        <div class="card-body">
          <div class="col-md-12 room-single ftco-animate mb-5 mt-5">
            <a href="/account_status/" class="btn btn-primary">Account Status</a>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</section>

{% endblock %}