

<a href="/account_status/">Account_status</a>
<div class="container">
    <br><br><br><br><br>
    <div class="card text-white bg-info">
        <div class="card-header">
            List of USERS
        </div>
        <div class="card-body text-white">
            <table>
                <thead>
                    <tr>
                        <th>Table_no</th>
                        <th>Customer email</th>
                        <th>Date</th>
                        <th>Time</th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in all %}
                    <tr>
                        <td>{{i.table_no}}</td>
                        <td>{{i.usereamil}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.time1}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>