{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap" style="background-image: url({% static 'images/menu-5.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
        <div class="text">
          <h1 class="mb-4 bread">Table Details</h1>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
    
      {% for i in data %}
      <div class="col-md-6">
        <div class="card-body">
          <h4 class="card-title">Table_No: {{ i.Table_No}} </h4>
          <p class="card-text">Table_Price: {{i.Table_Price}}</p>
          <p class="card-text">Table_Seats: {{i.No_of_Seats}} </p>
          <p class="card-text">Table_Available: {{i.is_available}} </p>
          <a href="/tablebooking/{{ i.Table_No}}/" class="btn btn-primary stretched-link">Book Now</a>
        </div>
      </div>
      {% endfor %}
    
    </div>
  </div>
</section>
{% endblock %}