{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>

<body>
	<div style="font-size: 40px; color:brown">
		<center>
			<h1>Welcome To E-Restaurant</h1>
		</center>
	</div>
	<div class="signupBox">
		<!-- <img src="{% static 'images/user1.png' %}" class="user"> -->
		<img src="{% static 'images/user1.png' %}" class="user">
		<h2>chef Login</h2>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			<input type="email" name="ema" id="email" class="form-control" placeholder="Email address" required>

			<input type="password" name="pas" id="password" class="form-control" placeholder="Password" required>

			<input type="submit" value="Login">
		</form>

		<a href="{% url 'register' %}">Create new Account</a>
		<br>
        <br>
		<a href="{% url 'login' %}">User Login</a>

	</div>
    <!-- PRINTING BACKEND MESSAGES -->
        {% if msg %}
        <script>alert('{{msg}}')</script>
        {% endif %}
</body>

</html>